#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;

	&[v-cloak] {
		display: none;
	}

	.vue-logo-img {
		max-width: 10rem;
	}
}
